body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  
}

body.Home {
    background-color: #f4f4f4;
    background-image:url(20230623_051008000_iOS.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h2.About {
    background-image: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 48, 48);
}


h2.Contact {
    background-image: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #484848;
}


body.Contact h1 {
    color:#7c7c7c;

}

body.Contact p {
    color: #7c7c7c;
    padding: 0%;
    margin: 15px;
}

body.Contact h3 {
    color:#7c7c7c;
}

body.Contact nav a {
    color:#7c7c7c;
    
}
body.Contact nav a:hover {
    color:#7c7c7c;

}

body.Gallery h1 {
    color:#7c7c7c;

}
body.Gallery h3 {
    color: #7c7c7c;
}

body.Gallery nav a:hover {
    color:#7c7c7c;

}


h2 {
    font-family: Arial, Helvetica, sans-serif;
    color:#484848;
    margin-bottom: 10px;
    position: center;
    font-weight: 200;
    font-style: normal;
    font-size:5mm;

}


h1 {
    color:#d8d8d8;
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
    flex-grow: 1;
    font-weight: 300;

    
  }
 
  header {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    top: -170px;

  }


h3 {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color:#d8d8d8;
    text-align: left;
    margin-left: 15px;
    margin-top: 0;
    
}

h4 {
    font-size: 30px;
    width:50px;
    margin-top: 200px;
    margin-right: 40%;
   
    
}

p {
    font-size: 15px;
    margin-top: 20%;
    margin-right: 40%;
     
   
}


nav {
    display: flex;
    top: 0;
    right: 0;
    gap:10%;
    margin-left: 10%;
    text-align:  center;
    justify-content: flex-end;
    position: fixed;
    z-index: 1000;
    padding: 10px;

    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav a {
    color:#d2c9c9;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;

    

}

nav a:hover {
    text-decoration: none;
    color: rgb(126, 126, 131);
    padding: 10px;

}

.image-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    transform: translateY(50px); /* Siirtää kuvaa alaspäin 50px */
  }
  

  .container {
    display: flex; /* Asettaa kuvat vierekkäin */
    align-items: center; /* Kohdistaa kuvat pystysuoraan keskelle */
    justify-content: flex-start; /* Kohdistaa kuvat vasempaan */
    gap: 20px; /* Lisää tilaa kuvien väliin */
    padding: 20px;
    flex-wrap: wrap; /* Varmistaa, että kuvat voivat siirtyä seuraavalle riville, jos tilaa ei ole tarpeeksi */
}


.autokuva1 {
        max-width: 600px;
        width: 100%; /* Leveys säilyttää kuvasuhteen */
        height: auto; /* Korkeus säilyttää kuvasuhteen */
        margin-top: 130px;
        float: left;
        margin-right: 50%;
        
    
}

nav {
    clear: both;
}

.text {
    font-size: 6em;
    font-weight: 400;
    margin-left: 50%;
    
}


.autokuvacon {
    width: 600px;
    height: auto;
    margin-top: 40%;
   
}

.autokuva3 {
    width:500px;
    margin-top: 30px;
    margin-right: 10px;

}

.textuli {
   width:400px;
    

}
.autokuva4 {
    width: 400px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.autokuva5 {
    width: 500px;
    
}

.container.car {
        display: flex; /* Asettaa kuvat vierekkäin */
        align-items: center; /* Kohdistaa kuvat pystysuoraan keskelle */
        justify-content:flex-start; /* Kohdistaa kuvat vasempaan */
        gap: 50px; /* Lisää tilaa kuvien väliin */
        padding: 10px;
        flex-wrap: wrap; /* Varmistaa, että kuvat voivat siirtyä seuraavalle riville, jos tilaa ei ole tarpeeksi */
        
}

.autokuva3, .autokuva4 {
    width: 500px; /* Asetetaan molemmille kuville sama leveys, mutta jätetään tilaa väliin */
    height: auto;
    margin-right: 200px;
}





@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .autokuva1 {
        width: 100%;
        height: auto;
    }

    .autokuva2 {
        width: 100%;
        height: auto;
    }

    .autokuva3, .autokuva4 {
        width: 100%; /* Kuvat vievät koko leveys tilan */
        margin-bottom: 20px; /* Väli kuvien väliin */
    }
}


@media only screen and (min-width: 441px) {
    
}

@media only screen and (min-width: 1200px) {
    
}